@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>首页</title>
</head>
<body>
    <div>
        @Html.ActionLink("获取Session的值", "QueryName")
    </div>
</body>
</html>
