@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>获取Session的值</title>
</head>
<body>
    <div>
        Session的值  @ViewBag.Name
    </div>
</body>
</html>
